<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run">
  <test name="Simple Test">
    <classes>
      <class name="com.api.demoapi.demoapi.AppTest"/>
    </classes>
  </test>
  <test name="Simple Test2">
    <classes>
      <class name="com.api.demoapi.demoapi.AppTest2"/>
      <class name="com.api.demoapi.demoapi.NewTest"/>
    </classes>
  </test>
</suite>